// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #2b2d3a
  }

a {
  color: #daad86;
}

h1 {
 color: #ffffff;
}

p {
 color: #ffffff;
}

li {
  color: #d6d6d6;
  margin-top: 5px;
  list-style-type: none;
}

form {
  color: #d6d6d6;
  margin: 20px;
  padding: 20px;
}

.banner-content {
  padding: 20px;
}

body {


}
