// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background-color: #2b2d3a
  }

.container {
  margin: 20px;
  align: center;
}


a {
  color: #daad86;
}

h1 {
 color: #ffffff;
}

p {
 color: #ffffff;
}

li {
  color: #d6d6d6;
  margin-top: 10px;
  list-style-type: none;
}

form {
  color: #d6d6d6;
  margin: 20px;
  padding: 20px;
}

.banner-content {
  padding: 20px;
}

body {


}

.card-product {
  margin-top: 10px;
  overflow: hidden;
  height: 80px;
  background: #2d132c;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
